fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy[asyncio]==2.0.35
aiomysql==0.2.0
redis==5.1.1
python-jose[cryptography]==3.3.0
bcrypt==4.0.1
pydantic-settings==2.5.2
python-multipart==0.0.12
Pillow==10.4.0
alembic==1.13.2
